:root {
  --primary-color: #007bff; /* Color principal para botones y enlaces */
  --background-color: #f8f9fa; /* Color de fondo para el formulario */
  --text-color: #495057; /* Color de texto principal */
  --border-radius: 0.25rem; /* Radio de borde para inputs y botones */
  --border-color: #ced4da; /* Color de borde para inputs */
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px;
margin: 0;
padding: 0;
}

form {
  background: #ffffff;
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin:1px  auto 37px  auto ;
}

fieldset {
  border: 1px solid var(--border-color);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: var(--border-radius);
}

legend {
  padding: 0 10px;
  width: auto;
  color: var(--primary-color);
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="radio"] {
  margin-right: 5px;
}

select {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: #fff;
  color: var(--text-color);
}

button {
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: rgb(23, 103, 177);
}

/* Estilo adicional para mejorar la visualización en móviles */
@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  form {
    padding: 15px;
  }
}
